<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mini praoject</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900  p-10 text-white">
        <h1 class="text-3xl mb-5">create account</h1>
        <form action="/register" method="post">
        <input class="px-3 py-2 rounded-md outline-none bg-transparent border-2 border-zinc-800" type="text" placeholder="name" name="name">
        <input class="px-3 py-2 rounded-md outline-none bg-transparent border-2 border-zinc-800" type="text" placeholder="uaername" name="username">
        <input class="px-3 py-2 rounded-md outline-none bg-transparent border-2 border-zinc-800" type="password" placeholder="password" name="password">
        <input class="px-3 py-2 rounded-md outline-none bg-transparent border-2 border-zinc-800" type="email" placeholder="email" name="email">
        <input class="px-3 py-2 rounded-md outline-none bg-transparent border-2 border-zinc-800" type="number" placeholder="age" name="age">
        <input class="px-5 py-2 rounded-md bg-blue-500" type="submit" value="create account">
        </form>
    </div>
</body>
</html>